Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
psycopg2-binary==2.9.9
Flask-Migrate==4.0.5
python-dotenv==1.0.0
Werkzeug==3.0.1
pandas==2.2.3
matplotlib==3.10.0
playwright==1.50.0
google-cloud-storage==3.0.0
google-cloud-aiplatform==1.71.1
vertexai==1.71.1
