<!-- templates/visualization.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Data Visualization</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script> <!-- Library for range slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css"> <!-- Styles for range slider -->
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <div class="flex items-center justify-between mb-8">
            <h1 class="text-3xl font-bold text-gray-900">Financial Data Visualization</h1>
            <a href="/" class="text-blue-600 hover:text-blue-800">Back to Dashboard</a>
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="mb-6">
                <select id="chartType" class="px-4 py-2 border rounded-md">
                    <option value="line">Line Chart</option>
                    <option value="bar">Bar Chart</option>
                </select>
                <select id="indexSelect" class="px-4 py-2 border rounded-md">
                    <option value="Cost of Goods Sold">Cost of Goods Sold</option>
                    <option value="Operating Expense">Operating Expense</option>
                    <option value="Operating Income">Operating Income</option>
                    <option value="Revenue">Revenue</option>
                    <option value="Tax Expense">Tax Expense</option>
                    <option value="Total Asset">Total Asset</option>
                    <option value="Gross Profit">Gross Profit</option>
                    <option value="Gross Profit Margin">Gross Profit Margin</option>
                    <option value="Operating Margin">Operating Margin</option>
                </select>
                <select id="periodSelect" class="px-4 py-2 border rounded-md">
                    <option value="yearly">Yearly</option>
                    <option value="quarterly">Quarterly</option>
                </select>
                <!-- currency select -->
                <select id="currencySelect" class="px-4 py-2 border rounded-md">
                    <option value="USD">USD</option>
                    <option value="TWD">TWD</option>
                </select>
                <select id="companySelect" class="px-4 py-2 border rounded-md">
                    <option value="select">Companies...</option>
                    <option value="all">Select all</option>
                    <option value="none">Unselect all</option>
                </select>
            </div>
            <div class="mt-2 flex flex-wrap items-center" style="margin-bottom: 12px;">
                <span class="mr-2 text-gray-700" style="margin-top: 12px; margin-bottom: 15px;">Selected company:</span>
                <div id="selectedCompanies" class="flex flex-wrap items-center"></div>
            </div>

            <div class="mb-6">
                <label for="yearRange" class="block text-gray-700">Filter by Year:</label>
                <br>
                <!-- Slider with two handles for year range -->
                <div id="yearRange" class="w-full"></div>
                <div id="yearDisplay" class="text-gray-700 mt-2">Years: 2020 - 2024</div>
            </div>

            <div style="height: 600px;">
                <canvas id="financialChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        var currentChart = null;
        var currentRange = [2020, 2024]; // Default range
        var type = "line";
        var index = "Cost of Goods Sold";
        var period = "yearly";
        var currency = "USD";
        var companies = [];
        var selectedCompanies = [];
        const unit = {
            "Cost of Goods Sold": "Million USD",
            "Operating Expense": "Million USD",
            "Operating Income": "Million USD",
            "Revenue": "Million USD",
            "Tax Expense": "Million USD",
            "Total Asset": "Million USD",
            "Gross Profit": "Million USD",
            "Gross Profit Margin": "percentage (%)",
            "Operating Margin": "percentage (%)",
        }

        async function fetchCompanies() {
            const response = await fetch('/api/companies');
            const data = await response.json();

            for (const company of data.companies) {
                const option = document.createElement('option');
                option.value = company;
                option.textContent = company;
                document.getElementById('companySelect').appendChild(option);
                companies.push(company);
            }
        }

        async function fetchData(startYear, endYear) {
            try {
                const url = new URL('/api/financial-data', window.location.origin);
                url.searchParams.append('currency', currency);
                url.searchParams.append('period', period);
                url.searchParams.append('company', selectedCompanies.join(','));
                url.searchParams.append('index', index);
                url.searchParams.append('startYear', startYear);
                url.searchParams.append('endYear', endYear);
                const response = await fetch(url.toString());
                const data = await response.json();
                console.log('Data:', data);
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
                return null;
            }
        }

        async function createChart() {
            const startYear = currentRange[0];
            const endYear = currentRange[1];
            const data = await fetchData(startYear, endYear);
            if (!data) return;

            const ctx = document.getElementById('financialChart').getContext('2d');
            
            // Destroy existing chart if it exists
            if (currentChart) {
                currentChart.destroy();
            }
            console.log(type);
            currentChart = new Chart(ctx, {
                type: type,
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        title: { display: true, text: index },
                        legend: { position: 'top' },
                        tooltip: { mode: 'index', intersect: false }
                    },
                    scales: {
                        x: { title: { display: true, text: 'Year' } },
                        y: { 
                            beginAtZero: true,
                            title: { display: true, text: unit[index] }
                        }
                    }
                }

            });
        }

        function updateSelectedCompanies() {
            console.log(selectedCompanies);
            const selectedCompaniesDiv = document.getElementById('selectedCompanies');
            selectedCompaniesDiv.innerHTML = '';
            selectedCompanies.forEach(company => {
                const div = document.createElement('div');
                div.className = 'selected-item bg-gray-200 rounded px-2 py-1 m-1 flex items-center';
                div.textContent = company;
                const span = document.createElement('span');
                span.className = 'ml-2 cursor-pointer text-red-500';
                span.textContent = 'X';
                span.addEventListener('click', () => {
                    selectedCompanies = selectedCompanies.filter(c => c !== company);
                    updateSelectedCompanies();
                    createChart();
                });
                div.appendChild(span);
                selectedCompaniesDiv.appendChild(div);
            });
        }

        fetchCompanies();
        updateSelectedCompanies();

        // Handle chart type changes
        document.getElementById('chartType').addEventListener('change', (e) => {
            type = e.target.value;
            createChart();
        });

        
        // Handle index changes
        document.getElementById('indexSelect').addEventListener('change', (e) => {
            index = e.target.value;
            createChart();
        });

        // Handle period changes
        document.getElementById('periodSelect').addEventListener('change', (e) => {
            period = e.target.value;
            createChart();
        });

        // Handle currency changes
        document.getElementById('currencySelect').addEventListener('change', (e) => {
            currency = e.target.value;
            createChart();
        });

        document.getElementById('companySelect').addEventListener('change', (e) => {
            const value = e.target.value;
            e.target.value = 'select';
            if (value === 'all') {
                selectedCompanies = companies;
            } else if (value === 'none') {
                selectedCompanies = [];
            } else if (selectedCompanies.includes(value)) {
                return;
            } else {
                selectedCompanies.push(value);
            }
            updateSelectedCompanies();
            createChart();
        });

        // Initialize the range slider using noUiSlider
        const yearSlider = document.getElementById('yearRange');
        noUiSlider.create(yearSlider, {
            start: currentRange, // Starting range
            connect: true,
            range: {
                'min': 2020,
                'max': 2024
            },
            step: 1,
            format: {
                to: (value) => Math.round(value),
                from: (value) => Math.round(value)
            }
        });

        // Update chart and display year range when slider value changes
        yearSlider.noUiSlider.on('update', (values) => {
            currentRange = values.map(value => parseInt(value, 10));
            document.getElementById('yearDisplay').textContent = `Years: ${currentRange[0]} - ${currentRange[1]}`;
            createChart();  // Update chart with selected range
        });

        // Initial chart creation
        // document.addEventListener('DOMContentLoaded', () => createChart('line', currentRange[0], currentRange[1]));
    </script>
</body>
</html>
